<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"/>
	<head>
		<meta charset="UTF-8"/>
		<title>Login to Bloglite</title>

	</head>
		<body class="text-center">
            <p></p>
			<h2 class="h3 mb-3 font-weight-normal"> Login to Bloglite </h2>
            <form method="POST" id="loginform" class="form-signin">  
                    <label for="username" class="sr-only">Username</label>
                    <input id= "username" type="text" name="username" required class="textbox" class="textbox"/>
                    <p></p>
                    <label for="password" class="sr-only">Password</label>
                    <input id = "password" type="password" name="password" required class="textbox"/><br>
                    <br>
                    <input type="submit" value = "Sign In" class="btn btn-primary"><br>
                    <a href="/register">Not yet have an account ? Sign Up</a>
                </form>
                <br>
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
		</body>

       
</html>